//Baloo2 (Logo font)
@font-face {
  font-family: Baloo2;
  src: url(~@/assets/fonts/baloo2/Baloo2-SemiBold.ttf);
}

//San Francisco Pro Display
@font-face {
  font-family: SF-UI-Display-Regular;
  src: url(~@/assets/fonts/sf-pro/SF-UI-Display-Regular.ttf);
}
@font-face {
  font-family: SF-UI-Text-Bold;
  src: url(~@/assets/fonts/sf-pro/SF-UI-Display-Bold.ttf);
}
@font-face {
  font-family: SF-UI-Display-Light;
  src: url(~@/assets/fonts/sf-pro/SF-UI-Display-Light.ttf);
}
@font-face {
  font-family: SF-UI-Display-Ulrtalight;
  src: url(~@/assets/fonts/sf-pro/SF-UI-Display-Ultralight.ttf);
}
@font-face {
  font-family: SF-UI-Display-Medium-Italic;
  src: url(~@/assets/fonts/sf-pro/SF-UI-Text-MediumItalic.ttf);
}
@font-face {
  font-family: SF-UI-Display-Regular-Italic;
  src: url(~@/assets/fonts/sf-pro/SF-UI-Text-RegularItalic.ttf);
}

//New York (Serif)
@font-face {
  font-family: New-York;
  src: url(~@/assets/fonts/new-york/New-York-Regular.ttf);
}
