//Breakpoints
$phone: 640px;
$tablet: 768px;
$desktop: 980px;
//Colors
$background-color: white;
$border-color: rgb(235, 235, 235);
$header-color: white;

$primary-color: #023d96;
$primary-color-dark: #173e77;
$lightGray: #666;

//Typography
$logo-font: Baloo2;
$main-font: SF-UI-Display-Regular;
$main-font-bold: SF-UI-Text-Bold;
$main-font-light: SF-UI-Display-Light;
$main-font-ultralight: SF-UI-Display-Ulrtalight;
$main-font-bold-italic: SF-UI-Display-Medium-Italic;
$main-font-italic: SF-UI-Display-Regular-Italic;

$serif-font: New-York;

//Borders
$border-radius: 4px;
$border: 0.5px solid $primary-color-dark;
$focus: 0 0 1px $primary-color-dark, 0 0 2px $primary-color-dark;
