.about-project {
  &-container {
    width: 90vw;
    p {
      margin: 0;
      max-width: none;
    }
  }
  &-top-button {
    bottom: 105px;
  }
  &-list {
    &-item {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-feature {
    margin: 30px 0;
    border-bottom: 1px solid $border-color;
    padding: 20px 0;

    &:first-of-type {
      border-top: 1px solid $border-color;
    }
    &-img {
      width: 100%;
      height: auto;
      border: $border;
      border-radius: $border-radius;
      margin: 10px 10px;
    }
    &-text {
      display: flex;
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
      img {
        height: 300px;
        width: auto;
      }
      &.long {
        // display: flex;
        img {
          //   height: 300px;
          //   width: auto;
        }
      }
    }
  }
}
@media (max-width: $desktop) {
  .about-project {
    &-feature {
      &-text {
        img {
          height: auto;
          width: 100%;
          &.chat {
            height: 300px;
            width: auto;
          }
        }
      }
    }
  }
}
