.site-input {
  &-container {
  }
  &-required {
    position: absolute;
    top: -1px;
    right: 7px;
    font-size: rem(10px);
    font-family: $main-font-light;
    color: rgb(151, 5, 5);
    z-index: 10;
  }
  &-prefix,
  &-suffix {
    position: absolute;
    top: 5px;
    color: #999;
    &:hover {
      color: #333;
      cursor: pointer;
    }
  }
  &-suffix {
    right: 10px;
  }
  &-prefix {
    left: 10px;
  }
  &-popper {
    position: absolute;
    top: 45px;
    z-index: 2000;
  }
  &-selected {
    &-list {
    }
  }
}

.input {
  font-family: $main-font-light;
  padding: 10px 20px;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
  border: 0.5px solid $primary-color-dark;
  &-container {
    padding: 0 0;
    display: inline-block;
    justify-content: center;
    border: none;
    position: relative;
    &.stretch {
      display: flex;
    }
  }
  &:focus-within {
    box-shadow: 0 0 1px $primary-color-dark, 0 0 2px $primary-color-dark;
    transition: box-shadow 0.1s ease;
    outline: none;
  }
  &:focus {
    box-shadow: 0 0 1px $primary-color-dark, 0 0 2px $primary-color-dark;
    transition: box-shadow 0.1s ease;
    outline: none;
  }
  &-prepand,
  &-append {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  &.stretch {
    flex: 1;
  }
}
